/* packages style */


.section-title .title{
    color: #3777aa;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;

}
.section-title .underline{
    width: 70px;
    height: 5px;
    background-color: #3777aa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.packages-container{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.183);
}
.single-packages{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 9px 1px;
    border-radius: 10px 10px;
    transition:  0.3s linear;
}
.single-packages:hover{
    transform: scale(1.002) translateY(-4px);
}

.single-packages .img-container {
    aspect-ratio: 355/300;
    overflow: hidden;
}
.single-packages .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s linear;
}

.packages-info{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.packages-info .packages-title{
    color: #3777aa;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;


}

.three-template-column{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

@media screen and (min-width: 798px) {

    .three-template-column{
        grid-template-columns: repeat(2,1fr);
    }
    
    .packages-container .section-title .title{

font-size: 30px;
}

.single-packages:hover .img-container img{
  transform: scaleX(1.5) scaleY(1.5);

}
}

@media screen and (min-width: 992px) {

.three-template-column{
    grid-template-columns: repeat(3,1fr);
    
}

.packages-container .section-title .title{

  font-size: 30px;
}

.single-packages:hover .img-container img{
    transform: scaleX(1.5) scaleY(1.5);
 
}

}

.packages-container{
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.packages-container .booking-button{

    width: 100px;
    min-height:45px;
    background-color: #3777aa;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px ;
    



}